/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Navbar Styles */
header {
    background-color: orange;
    padding: 10px 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: hsl(150, 100%, 52%);
    font-size: 28px;
    font-weight: bold;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.menu li {
    margin-right: 20px;
}

.menu a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.menu a:hover {
    color: #ffcc00;
}

/* Gallery Styles */
.gallery {
    position: relative;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    overflow: hidden;
}

.image-wrapper {
    display: flex;
    transition: transform 0.3s ease;
}

.image-wrapper img {
    max-width: 100%;
    height: auto;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.prev-btn,
.next-btn {
    padding: 10px 20px;
    font-size: 18px;
    background-color: blue;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.prev-btn:hover,
.next-btn:hover {
    background-color: #ffcc00;
    color: #333;
}

.description {
    margin-top: 20px;
    text-align: center;
}

.description p {
    font-size: 16px;
    color: #333;
}
